/* Zeroing of all auto styles */
* { margin: 0;
    padding: 0;
    border: 0;
}
*, *:before,*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block}
html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited, a:hover, a:active {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

/*---------------------*/
body.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
}
.header .container {
    display:flex;
    justify-content: space-between;
}
.header__burger {
    display: none;    
}
.logo {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 30px 40px;
}
.logo__title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.logo__subtitle {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.header__nav {
    display:flex;
    align-items: center;
}
.header__list {
    display:flex;
}
.header__list:last-child {
    margin-right: 40px;
}
.header__item {
    box-sizing: border-box;
    margin-left: 35px;    
}
.header__item a {
    font-family: Arial;
    font-size: 17px;
    line-height: 160%;
    color: #CDCDCD;
}
.active__item {
    border-bottom: 2px solid #F1CDB3;
    color: #FAFAFA;
}
.header__item a:hover {
    outline: 2px solid #F1CDB3;
    outline-offset: 6px;
}

.only__content,
.about__content,
.pets__content,
.help__content,
.donation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    justify-content: space-between;
}
.only {
    background: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
    #211F20;
}
.only .container {
    padding: 180px 40px 0;
}
.only__content {
    flex-direction: row;
    justify-content: end;

}
.only__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 40px 240px 0; 
}
.only__title {
    font-family: Georgia;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: left;
}
.only__subtitle {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 40px 0;
    text-align: left;
}
.only__btn {
    width: 207px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    background: #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.only__img {
    max-width: 698px;
    object-fit: cover;
}
.about .container {
    padding: 80px 215px 100px;
}
.about__content {
    flex-direction: row;
}
.about__info {
    text-align: left;


    margin-left: 120px;
}
.about__title {
    max-width: 310px;
}



.about__amount,
.about__feed {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.about__amount {
    margin: 25px 0;
}

.pets-page {
    width: 100%;    
    background: #F6F6F6;
}
.pets__content {
    justify-content: space-between;
    padding: 80px 40px 120px;
}
.pets__title {
    max-width: 400px;;
}
.pets__slider-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
    position: relative;
    margin: 60px auto 60px;
}
.pets__slider {
    overflow: hidden;
    margin: 0 70px 0;
}
.pets {
    display: flex;   
    column-gap: 90px;
    top: 0px;
    width: 990px;
    position: relative;
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card:hover {
    background: #FFFFFF;
}
.card__img {
    width: 270px;
    height: 270px;
}
.card__title {
    margin: 30px auto 15px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.card__button {
    z-index: 2;
    width: 187px;
    height: 52px;
    margin: 15px auto 30px; 
      
    background: #FAFAFA;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__button:hover {
    z-index: 5;
    background: #FDDCC4;
}
.btn__arrow {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin: 0 10px;
    background: none;
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;    
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prevPage {
    transform: rotate(180deg);
}

.btn__arrow:hover {
    cursor: pointer;
    background: #FDDCC4;
}
.btn__arrow:active {
    cursor: pointer;
    background: #F1CDB3;
}
.pets__getbtn {
    width: 261px;
    height: 52px;
    display: flex;   
    align-items: center; 
    justify-content: center;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.pets__getbtn:hover, 
.only__btn:hover {
background: #FDDCC4;
}
.popup__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(41, 41, 41, 0.6);
}
.innactive {
    display: none;
    opacity: 0;
    visibility: hidden;
 }
.popup__block {
    display: flex;
    position: fixed;
}
.pets__popup {
    width: 675px;    
    height: 350px;
    display: flex;
    background: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);   
    position: relative;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 30;
}
.popup__img {
    width: 350px;
    height: 350px;
    border-radius: 9px 0px 0px 9px;
}
.popup__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    margin: 10px;
}
.popup__title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup__subtitle {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.pet-description {
    font-family: Georgia;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup__item {
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup__item:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #F1CDB3;
    margin-right: 10px;
}
.pet__age,
.pet__inoculations,
.pet__diseases,
.pet__parasites {
    font-weight: normal;
}
.popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    font-family: Roboto;
    font-size: 25px;
}
.popup__close:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.help__content {
    padding: 60px 120px 100px;
}
.help__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 0;
}
.help__item img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.help__item p {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation {
    background: #F6F6F6;
}
.donation__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 180px 100px;
}
.donation__img {
    max-width: 505px;
    object-fit: cover;
    align-self: center;
}
.donation__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.donation__title {
    text-align: left;
}
.donation__subtitle {
    margin-top: 20px;
    font-family: Georgia;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__cardblock {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    width: 390px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;

    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 10px 15px;
}
.donation__cardblock img {
    width: 30px;
    height: 23px;
    margin-right: 15px;
 }
.donation__cardblock:hover {
    cursor: pointer;
    background: #FDDCC4;
    font-weight: 550;
}
.donation__text {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    width: 100%;
    background:  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__content {
    display: flex;
    margin: auto 40px;
    justify-content: space-between;
}
.footer__info {
    display: flex;
    margin: 60px 0 60px;
}
.footer__contacts-block,
.footer__address-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 160px 0 0;
}
.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.footer__item {
    display: flex;
}
.footer__item a {    
    font-family: Georgia;
    font-size: 19px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
}
.footer__item:nth-child(2) {
    margin: 40px 0 40px 0;
}
.footer__item img {
    margin-right: 20px;
}
.footer__title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__img {
   width: 300px;
   height: 310px;
   align-self: flex-end;
}